*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.head
{
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
    margin-top: 5%;
}
.clients
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: blue;
}
.saying
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 19px;
    margin-top: 1%;
}
.picture
{
    width: 100%;
    height: 100px;
    /* background-color: goldenrod; */


}
.pic
{
    width: 40%;
    height: 130px;
    margin-left: 30%;
    border-radius: 100%;
    position: relative;
    bottom: 10%;
}
.pic img 
{
    width: 100%;
    height: auto;
    border-radius: 100%;
}
.central
{
    width: 100%;
    height: 550px;
    /* background-color: palevioletred ; */


}
.midal
{
    width: 95%;
    height: 600px;
    /* background-color: beige; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}
.box
{
    width: 30%;
    height: auto;
    background-color:whitesmoke;
}
.lorem
{
    
    padding: 0px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.name
{
    width: 100%;
    height: 30px;
    /* background-color: red; */
    margin-top: 9%;
}
.email
{
    text-align: center;
    color: blue;
    font-weight: 500;
    font-size: 19px;
    
}
.reank
{
    width: 100%;
    height: 30px;
    /* background-color: red; */
    margin-top: 1%;
}
.star
{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
}

.star i
{
    color: gold;
}
.mediya
{
    width: 100%;
    height: 40px;
    /* background-color: aqua; */
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.mbox
{
    width: 12%;
    height: auto;
    /* background-color: burlywood; */
}
.mbox img
{
    width: 100%;
    height: 40px;
}