@media(max-width:768px)
{
    .gallorycontainer
    {
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;
        
    } 
    .box
    {
        width: 40%;
        height: 150px;
    
    }
}
@media(max-width:480px)
{
    .gallorycontainer
    {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

}