*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.gallory
{
    width: 100%;
    
    background: black;
}
.gallorycontainer
{
    width: 80%;
    height: 500px;
    background-color: aqua;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box
{
    width: 30%;
    height: 350px;
    background-color: red;
    border-radius: 20px;
}
