* {

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    /* background-color: palevioletred; */
}

.navbarcontainer {
    width: 90%;
    height: 70px;
    /* background-color: aqua; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbtn {
    font-size: 30px;
    color: black;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.logo {
    width: 6%;
    height: 40px;
    background-color: azure;
}

.logo img {
    width: 100%;
    height: auto;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.search {
    width: 20%;
    height: 40px;
    background-color: whitesmoke;
    position: relative;
    border-radius: 4px;
}

.search i {
    position: absolute;
    top: 9px;
    font-size: 20px;
}

.search input {
    width: 90%;
    height: 40px;
    position: absolute;
    left: 22px;
    /* top: 10px; */
    border: 0px solid white;
    background-color: whitesmoke;

}

.container i {
    font-size: 30px;
    position: relative;
    right: 9px;
}

.benner {
    width: 100%;
    height: auto;
    background-color: aqua;
}

.benner img {
    width: 100%;
    height: auto;
}

.lorem {
    width: 100%;
    margin: auto;
    margin-top: 5%;
    font-size: 25px;
    font-weight: 550;
    text-align: center;
    /* background-color: blanchedalmond; */
}

.new {
    width: 100%;
    /* background-color: beige; */
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 30px;
    font-weight: bold;
}

.pic {
    width: 100%;
    height: autopx;
    /* background-color: burlywood; */
}

.piccontainer {
    width: 95%;
    height: auto;
    /* background-color: aquamarine; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.picbox {
    width: 23%;
    height: auto;

    /* background-color: blanchedalmond; */
}

.picbox img {
    width: 100%;
    height: auto;
}

.picbox p {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.price {
    display: flex;
    font-size: 1rem;
    font-weight: 900;
    margin-top: 10px;
}

.price p {

    font-size: 1rem;
    text-decoration: line-through;
    margin-left: 10px;
    font-weight: 200;
}

.curated {
    width: 100%;
    height: auto;
    /* background-color: aqua; */
    margin-top: 5%;

}

.curated p {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.three {
    width: 100%;
    height: auto;
    /* background-color: plum; */
    margin-top: 3%;

}

.threebox {
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
}

.tbox {
    width: 32%;
    height: auto;
    /* background-color: red; */
}

.tbox img {
    width: 100%;
    height: auto;
}

.conten {
    width: 100%;
}

.contenpic {
    width: 95%;
    margin: auto;
    height: auto;
    margin-top: 10px;
    /* background-color: aqua; */
}

.contenpic img {
    width: 100%;
    height: auto;
}


.contennerbox {
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    /* background-color: bisque; */
}

.forebox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: red; */
}

.cbox {
    width: 23%;
    height: auto;
    /* background-color: rgb(210, 119, 54); */
}

.cbox img {
    width: 100%;
    height: auto;

}

.cbox p {
    font-size: 1rem;
}

.polos {
    width: 100%;
    margin-top: 2%;
}

.it {
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: space-between
}

.wvertday {
    width: 32%;
    height: auto;
    background-color: gray;
}

.wvertday img {
    width: 100%;
    height: auto;
}

.pants {
    width: 32%;
    height: auto;
    background-color: gray;
}

.pants img {
    width: 100%;
    height: auto;
}

.keep {
    width: 32%;
    height: auto;
    background-color: gray;
}

.keep img {

    width: 100%;
    height: auto;
}

.ox {
    width: 100%;
    margin-top: 20px;
    height: auto;
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
}

.shirts {
    margin-top: 20px;
}

.drops {
    width: 100%;
    margin-top: 7%;
    height: auto;
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
}

.newdrops {
    width: 100%;
    margin-top: 2%;
}

.made {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.madeto {
    width: 23%;
    height: auto;
    background-color: rgb(197, 172, 168);
}

.madeto img {
    width: 100%;
    height: auto;
}

.thatt {
    width: 23%;
    height: auto;
    background-color: rgb(197, 172, 168);
}

.thatt img {
    width: 100%;
    height: auto;
}

.layes {
    width: 23%;
    height: auto;
    background-color: rgb(197, 172, 168);
}

.layes img {
    width: 100%;
    height: auto;
}

.feel {
    width: 23%;
    height: auto;
    background-color: rgb(197, 172, 168);
}

.feel img {
    width: 100%;
    height: auto;
}

.liveloopse {
    width: 95%;
    margin: auto;
    margin-top: 4%;
}

.liveloopse img {
    width: 100%;
    height: auto;
}

.our {
    width: 100%;
    margin-top: 20px;
    height: auto;
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
}

.ourbest {
    margin-top: 20px;
}

.levl {
    width: 100%;
    margin-top: 7%;
    height: auto;
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
}

.shop {
    width: 100%;
    margin-top: 7%;
}

.shopmen {
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.men {
    width: 48%;
}

.shopmen img {
    width: 100%;
    height: auto;
}

.footer {
    width: 100%;
    height: auto;
    margin-top: 7%;
    background-color: rgb(244, 241, 238);
    padding-bottom: 30px;
}

.store {
    width: 95%;
    margin: auto;
    padding-top: 2%;

}

.storemore {
    font-size: 18px;
    height: auto;
    /* background-color: aqua; */
    font-weight: bold;
    margin-bottom: 10px;
}

.twobox {
    width: 100%;
    height: auto;
    /* margin-top: 2%  ; */
    /* background-color: aqua; */
    display: flex;
}

.two1 {
    width: 65%;
    height: auto;
    /* background-color: azure; */
    display: flex;
    justify-content: space-between;
}

.two2 {
    width: 35%;
    height: auto;
    /* background-color: burlywood; */
}

.fore {
    width: 24.5%;
    height: auto;

    font-size: 18px;
    font-weight: bold;
}

.liti {
    font-size: 16px;
    font-weight: 100;
    padding-top: 11px;

}

.liti1 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 11px;
}

.liti2 {
    font-size: 16px;
    font-weight: 100;
}

.intwo {
    width: 70%;
    height: auto;
    margin: auto;
    /* background-color: olive; */
}

.in1 {
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    height: 50px;
    width: 100%;
    background-color: rgb(244, 241, 238);
    border: 1px solid #ccc;
    padding: 0 10px;
}

::placeholder {
    font-size: 16px;
}

.in2 {
    margin-top: 6%;
    font-size: 13px;
}

button {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    margin-top: 5%;
    font-size: 18px;
    cursor: pointer;
}

.lest {
    width: 100%;
    height: 40px;
    margin-top: 1%;
    display: flex;
    /* background-color: aqua;   */
}

.lest1 {
    width: 70%;
    height: auto;
    /* background-color: beige; */
}

.lest1 ul {
    display: flex;

}

.lest1 ul li {
    list-style: none;
    padding: 10px;
}

.lest1 ul li a {
    text-decoration: none;
    color: black;
}

.lest2 {
    width: 30%;
    height: auto;
    /* background-color: aquamarine; */
}

.lest1 ul li a::after {
    content: '';
    display: block;
    border-bottom: 1px solid black;
    position: relative;
    top: 2px;
    width: 0%;
    margin: auto;

}

.lest1 ul li a:hover::after {
    width: 100%;
}

.lest2 ul {
    display: flex;
}

.lest2 ul li {
    list-style: none;
    font-size: 35px;
    margin-left: 30px;
}

.lest2 ul li :hover {
    font-size: 40px;
}